
@keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-10%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  #tit1, #tit2, #tit3, #tit4, #tit5, #tit6, #cont1, #titulo2, #cont2, #titulo3, #cont3, #titulo4 {
    animation: slideDown 2s;

  }
    